@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
