@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: blue;
  cursor: pointer;
}
.add:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.add:active {
  transform: translate(-4deg);
}
