@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  height: auto;
}

.add {
  position: fixed;
  border: none;
  top: 1rem;
  right: 1rem;
  background-color: #000;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
.add:hover {
  background-color: yellow;
  color: #000;
  border: none;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
}
.add:active {
  transform: translate(-4deg);
}

.note {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: #000;

  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.note .tools button {
  background-color: transparent;
  border: none;

  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  margin-left: 0.5rem;
}
.tools button:hover {
  background: #fff;
  color: #000;
}
.note textarea {
  border: none;
  outline: none;
  height: 400px;
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 20px;
}
.note textarea::placeholder {
  color: green;
}
.hidden {
  display: none;
}

.main {
  padding: 20px;
}
