@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

@font-face {
  font-family: product-sans;
  src: url(../fonts/Product\ Sans\ Regular.ttf);
}

/* fonts */
/* font-family: "Nunito", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Roboto Mono", monospace; */
/* _______________________________ */

* {
  box-sizing: border-box;
}
body {
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: product-sans; */
  font-family: "Poppins", sans-serif;
  background-color: #2a2a72;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.user-form {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.user-form h1 {
  font-size: 4rem;
  width: 100%;
}

.user-form input {
  margin: 1rem;
  width: 100%;
  background-color: #12124d;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}
.user-form input:focus {
  outline: none;
}

.card {
  background-color: #12124d;
  display: flex;
  max-width: 750px;
  padding: 1rem;
  border-radius: 20px;
  margin: 0 1.5rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.avatar {
  border-radius: 100%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repos {
  text-decoration: none;
  color: #fff;
  background-color: #2a2a72;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 784px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-form {
    max-width: 400px;
  }
  .user-form h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
  }
}
