@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 50px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: pink;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}
