@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: yellow;
}

canvas {
  border: 2px solid steelblue;
  background-color: #fff;
}

.toolbox {
  border: 1px solid slateblue;
  border-radius: 5px;
  background-color: #5f0a87;
  display: flex;
  width: 805px;
  padding: 1rem;
}

.toolbox > * {
  background-color: transparent;
  color: #fff;
  border: 2px solid red;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border: none;
  margin: 0.25rem;
  padding: 0.25rem;
}

.toolbox > *:last-child {
  margin-left: auto;
}
